@import '@angular/material/theming';

// Define a custom palette
$lavender-primary: mat-palette((
  50:  #f9f6fc,
  100: #f2ebfa,
  200: #e4d9f4,
  300: #d7c7ef,
  400: #c9b5ea,
  500: #BFA2DB,
  600: #a989d0,
  700: #9370c5,
  800: #7d57ba,
  900: #6740af,
  A100: #e8d6ff,
  A200: #d3b2ff,
  A400: #be8eff,
  A700: #a96aff,
), 500);

// Define accent and warn palettes
$floral-accent: mat-palette($mat-pink, A200);
$warn: mat-palette($mat-red);

// Define the full theme
$theme: mat-light-theme(
  (
    color: (
      primary: $lavender-primary,
      accent: $floral-accent,
      warn: $warn
    )
  )
);

// Include all Material component styles
@include angular-material-theme($theme);
